html
	head
		meta(charset='utf-8')
		title Список студентов
	body
		each el in students
			li
				a(href="/student/" + el.id) #{el.firstname} #{el.lastname} #{el.middlename} #{el.DateofBirth} #{el.Tel}